# ASSIGNMENT-4
## TANGUDU VIJAY SANKAR
## 2105586

Q1. Write a Python program that will print your name 10 times

In [2]:
print('2105586')
for i in range(1,11):
    print(i,"Vijay Sankar")

2105586
1 Vijay Sankar
2 Vijay Sankar
3 Vijay Sankar
4 Vijay Sankar
5 Vijay Sankar
6 Vijay Sankar
7 Vijay Sankar
8 Vijay Sankar
9 Vijay Sankar
10 Vijay Sankar

Q2. Write a Python program that will print 1 2 3 4 5 6 7 8 9 10

In [3]:
print('2105586')
for i in range(1,11):
    print(i,end=" ")

2105586
1 2 3 4 5 6 7 8 9 10

Q3. Write a Python program that will print the number between m and n

In [4]:
print('2105586')
m=int(input("enter the starting range"))
n=int(input("enter the ending range"))
for i in range(m,n):
    print(i)

2105586
enter the starting range20
enter the ending range30
20
21
22
23
24
25
26
27
28
29

Q4. Write a Python program that will print all odd number between m and n

In [5]:
print('2105586')
m=int(input("enter the starting range"))
n=int(input("enter the ending range"))
for i in range(m,n):
    if(i%2!=0):
        print(i)

2105586
enter the starting range20
enter the ending range30
21
23
25
27
29

Q5. Write a Python program that will print 9 7 5 3 1 -1 -3 -5 -7 -9

In [6]:
print('2105586')
for i in range(9,-11,-2):
    print(i,end=" ")

2105586
9 7 5 3 1 -1 -3 -5 -7 -9

Q6. Write a Python program that will print sum of the following series

Sum = 1+ 1⁄2 + 1/3 + .....1/n

In [7]:
print('2105586')
sum_value = 0
n = int(input("enter the value of n: "))

for i in range(1, n + 1):
    sum_value = sum_value + 1/i

print("sum of series =", sum_value)

2105586
enter the value of n: 20
sum of series = 3.597739657143682

Q7 Write a Python program that will print sum of the following series

Sum = 1+ 1⁄2! + 1/3! + .....1/n!

In [8]:
print('2105586')
import math
sum_value = 0
n = int(input("enter the value of n: "))

for i in range(1, n + 1):
    sum_value = sum_value + 1/math.factorial(i)

print("sum of series =", sum_value)

2105586
enter the value of n: 5
sum of series = 1.7166666666666668

Q8. Write a Python program that will print sum of the following series

e^x = 1+ x + x^2/2! +x^3/3! .....x^n/n!

In [9]:
print('2105586')
import math
x, n = 3,8
sum_series = sum(x**i / math.factorial(i) for i in range(n + 1))
print("Sum:", sum_series)

2105586
Sum: 20.009151785714284

Q9. Write a Python program that will read x and compute sin(x)
(Hints: Use Taylor’s series expansion)

In [10]:
print('2105586')
import math
x = float(input("enter the value of x in radians:"))
sin_x = sum((-1)**i * x**(2*i + 1) / math.factorial(2*i + 1) for i in range(10))
print("sin(x):", sin_x)

2105586
enter the value of x in radians:3.5
sin(x): -0.35078323277891615

Q10. Write a Python program that will read x and compute cos(x)
(Hints: Use Taylor’s series expansion)

In [11]:
print('2105586')
import math
x = float(input("enter the value of x in radians:"))
cos_x = sum((-1)**i * x**(2*i) / math.factorial(2*i) for i in range(10))
print("cos(x):", cos_x)

2105586
enter the value of x in radians:4.5
cos(x): -0.2108003636640953

Q11 Write a Python program that will check the number is prime or composite.

In [12]:
print('2105586')
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

number = int(input("Enter a number: "))
if is_prime(number):
    print("Prime")
else:
    print("Composite")

2105586
Enter a number: 56
Composite

Q12. Write a Python program that will read two integers and compute GCD and LCM.

In [13]:
print('2105586')
import math
a, b = 48,60
gcd = math.gcd(a, b)
lcm = a * b // gcd
print("GCD:", gcd)
print("LCM:", lcm)

2105586
GCD: 12
LCM: 240

Q13. Write a Python program that read an integer and print the number of digit.

In [14]:
print('2105586')
num = 45676
num_digits = len(str(abs(num)))
print("Number of digits:", num_digits)

2105586
Number of digits: 5

Q14. Write a Python program that will read a number and compute sum of the digit
Ex: let num= 3456 output should be 18

In [15]:
print('2105586')
num = 4567
digit_sum = sum(int(digit) for digit in str(abs(num)))
print("Sum of digits:", digit_sum)

2105586
Sum of digits: 22

Q15. Write a Python program that will reverse an integer
i.e num =3456 reverse num=6543

In [16]:
print('2105586')
num = 4567
reverse_num = int(str(abs(num))[::-1])
print("Reversed number:", reverse_num)

2105586
Reversed number: 7654

Q16. Write a Python program that will check a number is palindrome or not.
i.e 12321 is a palindrome

In [17]:
print('2105586')
num = 121
if str(abs(num)) == str(abs(num))[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

2105586
Palindrome

Q17. Write a python program to find the Fibonacci series up to nth term.

In [18]:
print('2105586')
n = 10
fibonacci_series = [0, 1]
while len(fibonacci_series) < n:
    fibonacci_series.append(fibonacci_series[-1] + fibonacci_series[-2])

print("Fibonacci series:", fibonacci_series)

2105586
Fibonacci series: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Q18. Write a Python program to check the number is Armstrong or not. For example, 371 is
an Armstrong number since 3*3*3 + 7*7*7 + 1*1*1 = 371.

In [19]:
print('2105586')
num = 371
num_str = str(abs(num))
armstrong_sum = sum(int(digit)**len(num_str) for digit in num_str)
if armstrong_sum == abs(num):
    print("Armstrong number")
else:
    print("Not an Armstrong number")

2105586
Armstrong number

Q19. Write a Python program that will display the prime’s number between M and N.

In [20]:
print('2105586')
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

M, N =11,20
for num in range(M, N + 1):
    if is_prime(num):
        print(num, end=" ")

2105586
11 13 17 19

Q20. Write a python program that will take a positive integer (num say) as input and display
the positive numbers, which are less than num and relatively prime to num.

In [21]:
print('2105586')
import math
def are_relatively_prime(a, b):
    return math.gcd(a, b) == 1

num = 18
for i in range(1, num):
    if are_relatively_prime(i, num):
        print(i, end=" ")

2105586
1 5 7 11 13 17

Q21. Write python programs that will print the following output.
a.
1
1 2
1 2 3
1 2 3 4

In [22]:
print('2105586')
for i in range(1, 5):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

2105586
1
1 2
1 2 3
1 2 3 4

b.
1
2 2
3 3 3
4 4 4 4

In [23]:
print('2105586')
for i in range(1, 5):
    for j in range(i):
        print(i, end="   ")
    print()

2105586
1
2   2
3   3   3
4   4   4   4

c. A A A A A A
   A         A
   A         A
   A         A
   A A A A A A

In [24]:
print('2105586')
for i in range(5):
    for j in range(6):
        if i == 0 or i == 4 or (j == 0 and i != 0 and i != 4) or (j == 5 and i != 0 and i != 4):
            print("A", end=" ")
        else:
            print("  ", end="")
    print()

2105586
A A A A A A
A         A
A         A
A         A
A A A A A A

d.
a
a b
a b c

In [26]:
print('2105586')
current_char = ord('a')

for i in range(3):
    old_char=current_char
    for j in range(i + 1):
        print(chr(current_char), end="   ")
        current_char += 1
    current_char=old_char
    print()

2105586
a
a   b
a   b   c

e.
aaaaaa
 aaaaa
  aaaa
   aaa
    aa
     a

In [ ]:
print('2105586')
for i in range(6):
    print(" " * i + "a" * (6 - i))

f.
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [27]:
print('2105586')
num_rows = 5

for i in range(1, num_rows + 1):
    spaces = " " * (num_rows - i)
    stars = "*" * (2 * i - 1)
    print(spaces + stars)

2105586
    *
   ***
  *****
 *******
*********

g.
        1
      2 3 2
    3 4 5 4 3
  4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5

In [28]:
print('2105586')
def print_pattern(n):
    for i in range(1, n+1):
        for j in range(n-i):
            print(" ", end=" ")
        for j in range(i, 2*i):
            print(j, end=" ")
        for j in range(2*i-2, i-1, -1):
            print(j, end=" ")
        print()
print_pattern(5)

2105586
        1
      2 3 2
    3 4 5 4 3
  4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5

h.
     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1
1 5 10 10 5 1

In [29]:
print('2105586')
def generate_pascals_triangle(num_rows):
    triangle = []

    for i in range(num_rows):
        row = [1] * (i + 1)
        if i >= 2:
            for j in range(1, i):
                row[j] = triangle[i - 1][j - 1] + triangle[i - 1][j]
        triangle.append(row)

    return triangle

def print_pascals_triangle(triangle):
    num_rows = len(triangle)
    max_width = len(" ".join(map(str, triangle[-1])))

    for row in triangle:
        spaces = " " * ((max_width - len(" ".join(map(str, row)))) // 2)
        formatted_row = spaces + " ".join(map(str, row)) + spaces
        print(formatted_row)

num_rows = 6
triangle = generate_pascals_triangle(num_rows)
print_pascals_triangle(triangle)

2105586
      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1
1 5 10 10 5 1