In [11]:
import re
str = 'Hi I am Vijay Sankar, vjtangudu is myself Vijay insta id creared on 04-01-2023'
resul = re.findall(r'V\w*',str)
print(resul)
result = re.sub(r"I am","I'm",str)
print(result)
result1 = re.findall(r'\d{1,2}-\d{1,2}-\d{4}',str)
print(result1)

['Vijay', 'Vijay']
Hi I'm Vijay Sankar, vjtangudu is myself Vijay insta id creared on 04-01-2023
['04-01-2023']

In [2]:
from datetime import *
d = date(2019,1,4)
t = time(13,13)
dt = datetime.combine(d,t)
print(dt)

2019-01-04 13:13:00

In [3]:
from datetime import *
ldate = []
d1 = date(2004,1,4)
d2 = date(1974,12,5)
d3 = date(1968,12,23)
d4 = date(1999,5,6)
ldate.append(d1)
ldate.append(d2)
ldate.append(d3)
ldate.append(d4)
ldate.sort()
for i in ldate:
    print(i)

1968-12-23
1974-12-05
1999-05-06
2004-01-04

In [6]:
#sleep method
from datetime import *
import time
ldate = []
d1 = date(2004,1,4)
d2 = date(1974,12,5)
d3 = date(1968,12,23)
d4 = date(1999,5,6)
ldate.append(d1)
ldate.append(d2)
ldate.append(d3)
ldate.append(d4)
ldate.sort()
time.sleep(5)#waiting to 5 second to execute next one
for i in ldate:
    print(i)

1968-12-23
1974-12-05
1999-05-06
2004-01-04

In [8]:
from datetime import *
def creditcheck(valdate):
    if valdate>datetime.now().date():
        print("VALID")
    else:
        print('INVALID')
        
creditcheck(date(2018,12,23))

INVALID